/* Header.css */
.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  position: fixed; /* Fijo en la parte superior */
  top: 0;
  left: 0;
  z-index: 1000; /* esta por encima de otros elementos */
  display: flex; /* flexbox para alinear elementos */
  align-items: center; /* Centrar verticalmente */
  padding: 5px; /* Espaciado */
}

.header-content {
  display: flex; /* flexbox para alinear elementos */
  align-items: center; /* Centrar verticalmente */
  justify-content: space-between; /* Espacio entre el logo, título y botón */
  width: 100%; /* Ancho completo */
}

.logo {
  height: 70px; /* Ajusta la altura del logo */
}

.title {
  flex: 1; /* Permite que el título ocupe el espacio restante */
  text-align: center; /* Centrar el título */
  font-size: 35px; /* Tamaño de fuente del título */
  color: #6a11cb; /* Color del título */
}

.menu-button {
  background-color: #007bff; /* Color del botón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 20px 25px; /* Espaciado interno */
  cursor: pointer; /* Cambiar el cursor al pasar */
  border-radius: 5px; /* Esquinas redondeadas */
  transition: background-color 0.3s; /* Transición suave */
}

.menu-button:hover {
  background-color: #0056b3; /* Color al pasar el mouse */
}
