.list-container {
  width: 100%;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 60px;
  border-radius: 12px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
  position: relative; /* Para posicionar el botón de inicio */
}

.list-container:hover {
  transform: translateY(-8px);
}

h2 {
  text-align: center;
  font-size: 2.8rem;
  color: #333;
  margin-bottom: 40px;
}

.estudiantes-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.estudiantes-table th, .estudiantes-table td {
  padding: 15px;
  border: 1px solid #ccc;
  text-align: left;
}

.estudiantes-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.edit-button, .delete-button {
  background-color: #6a11cb;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.edit-button:hover, .delete-button:hover {
  background-color: #2575fc;
  transform: translateY(-2px);
}

.back-home-button {
  position: absolute;
  top: 20px;
  left: 20px; /* Mover el botón a la izquierda */
  background-color: #ff4d4d;
  color: white;
  padding: 10px 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.back-home-button:hover {
  background-color: #ff1a1a;
  transform: translateY(-3px);
}
